<div class="field">
  <label for="tag">Tags</label>
  <input type="text" name="user[tag_list]" value="<%= @user.tag_list %>"> 
</div>   
<div class="actions">
  <input type="submit" value="Save Tags">
</div>